Twitter/Service References/TwitterService/Twitter0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TwitterService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TwitterService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTwitLocal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TwitLocal" nillable="true" type="tns:TwitLocal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTwitLocal" nillable="true" type="tns:ArrayOfTwitLocal" />
  <xs:complexType name="TwitLocal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fav" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isFav" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TwitLocal" nillable="true" type="tns:TwitLocal" />
  <xs:complexType name="KisiLocal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KisiLocal" nillable="true" type="tns:KisiLocal" />
</xs:schema>